body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 50px auto;
}

h1 {
    font-size: 36px;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#memeContainer {
    margin-top: 20px;
}

#memeImage {
    max-width: 100%;
}
